body {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: flex-start;

  background-color: slategrey;
}

h1 {
  margin-top: 5vh;
  margin-bottom: 1vh;

  color: honeydew;
}

p {
  margin: 0;
  color: palegoldenrod;
}
